<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sbmp.mapper.PayOutOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.renjie.entity.PayOutOrder">
        <id column="pay_out_order_id" property="payOutOrderId" />
        <result column="pay_mch_id" property="payMchId" />
        <result column="pay_vendor_id" property="payVendorId" />
        <result column="amount" property="amount" />
        <result column="status" property="status" />
        <result column="ctime" property="ctime" />
    </resultMap>

</mapper>
