<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sbmp.mapper.PayVendorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.renjie.entity.PayVendor">
        <id column="pay_vendor_id" property="payVendorId" />
        <result column="name" property="name" />
        <result column="appid" property="appid" />
        <result column="appsecret" property="appsecret" />
        <result column="config" property="config" />
    </resultMap>

</mapper>
