<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sbmp.mapper.CmsArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.renjie.entity.CmsArticle">
        <id column="article_id" property="articleId" />
        <result column="topic_id" property="topicId" />
        <result column="title" property="title" />
        <result column="author" property="author" />
        <result column="fromurl" property="fromurl" />
        <result column="image" property="image" />
        <result column="keywords" property="keywords" />
        <result column="description" property="description" />
        <result column="type" property="type" />
        <result column="allowcomments" property="allowcomments" />
        <result column="status" property="status" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="readnumber" property="readnumber" />
        <result column="top" property="top" />
        <result column="system_id" property="systemId" />
        <result column="ctime" property="ctime" />
        <result column="orders" property="orders" />
    </resultMap>

</mapper>
