<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sbmp.mapper.PayMchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.renjie.entity.PayMch">
        <id column="pay_mch_id" property="payMchId" />
        <result column="mch_id" property="mchId" />
        <result column="name" property="name" />
        <result column="reqKey" property="reqKey" />
        <result column="resKey" property="resKey" />
    </resultMap>

</mapper>
