<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sbmp.mapper.PayPayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.renjie.entity.PayPay">
        <id column="pay_pay_id" property="payPayId" />
        <result column="pay_type_id" property="payTypeId" />
        <result column="param" property="param" />
    </resultMap>

</mapper>
