<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renjie.dao.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.renjie.entity.Role">
        <id column="role_id" property="roleId" />
        <result column="role_key" property="roleKey" />
        <result column="create_time" property="createTime" />
        <result column="description" property="description" />
        <result column="role_value" property="roleValue" />
        <result column="company_id" property="companyId" />
    </resultMap>

    <resultMap id="RoleBiz" type="com.renjie.domain.bizs.RoleBiz">
        <id column="role_id" property="roleId" />
        <result column="role_key" property="roleKey" />
        <result column="create_time" property="createTime" />
        <result column="description" property="description" />
        <result column="role_value" property="roleValue" />
        <result column="company_id" property="companyId" />

        <collection property="authorityBizList" column="role_key" ofType="Authority" select="com.renjie.dao.AuthorityMapper.selectByRoleId"/>
    </resultMap>

    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="RoleBiz">
        SELECT r.* FROM sys_role r
        LEFT  JOIN sys_user_role ur ON ur.role_id = r.role_id
        WHERE ur.user_id = #{id}

    </select>
</mapper>
