<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renjie.dao.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.renjie.entity.RolePermission">
        <result column="role_id" property="roleId" />
        <result column="permissions" property="permissions" />
    </resultMap>

    <select id="findByRoleId" parameterType="java.lang.Long" resultMap="BaseResultMap">

        SELECT * FROM sys_role_permission WHERE role_id = #{id}
    </select>
</mapper>
